.table{
    width:100%;
}

.selectedData {
    background-color: blue;
    color:white;
}
.day-name {
    text-transform: capitalize;
    font-weight: bold;
}
.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}

.voilet {
    background-color: violet;
}
select {
    padding: 10px;
}


